#mid-background {
  display: block;
  position: relative;
  margin-top: -10rem;
  width: 100%;
  height: 15rem;
  background-image: url(../../Img/Violet_top_left_wave.png);
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: 10;
}
