// Screen Media
$XS:     479px;   
$SM:     767px;  
$MD:    1023px;   
$LG:   1169px;    
$XXL:   1399px;

// Text color
$text-color: rgba(0, 0, 0, 1);
$text-color-title-1: rgba(255, 255, 255, 1);
$text-color-title-2: rgba(182, 25, 132, 1);

//Text color hover
$text-color-hover: rgba(211, 134, 187, 1);
$text-color-hover-2: rgba(0, 0, 0, 1);


// Background Color
$bg-color: rgba(255, 255, 255, 1);
$bg-color-2: rgba(220, 209, 240, 1);
$bg-color-3: rgba(170, 1, 126, 1);

// Shadow
$shadow: rgba(0, 0, 0, 0.2);

//Border color
$border-color: rgba(148, 22, 108, 1);
$border-color-2: rgba(194, 3, 143, 1);
$border-color-3: rgba(220, 209, 240, 1);
$border-color-4: rgba(255, 255, 255, 1);